<div *ngFor="let family of families$ | async">
  <a [routerLink]="['/families', family.id]">
    {{ family.name }} Family
  </a>
  <!-- <span>
    <button class="btn" (click)="editFamily(family)">Edit</button>
    <button class="btn btn-danger" (click)="removeFamily(family.id)">Delete</button>
  </span> -->
</div>
